<div class="col-md-8 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8"><h1>Distritos</h1></div>
    <div class="col-md-12 my-4 row">
      <%= form_with(url: distritos_path, local: true, method: :get) do |form| %>
        <div class="row">
          <div class="col-md-4">
            <% if params[:query].present? %>
              <%= form.text_field :query, class:"form-control", value: params[:query], placeholder:"Número o nombre..." %>
            <% else %>
              <%= form.text_field :query, class:"form-control",  placeholder:"Número o nombre..." %>
            <% end %>
          </div>
          <div class= "col-md-4">
            <%= form.submit "Buscar", class:"btn btn-secondary botoes" %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Nuevo Distrito', new_distrito_path, class:'btn btn-primary botoes text-white'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <% if @distritos.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-2">Distrito</th>
        <th class="col-md-3 text-center">Número de Padrones</th>
      </tr>
      </thead>

      <tbody>
      <% @distritos.each do |distrito| %>
        <tr>
          <td class="col-md-2"><%= distrito.nombre_distrito %></td>
          <td class="col-md-3 text-center"><%= distrito.num_registros %></td>
          <td class="col-md-2 text-center">
            <%= link_to edit_distrito_path(distrito), class: 'btn btn-primary btn-xs text-white' do %>
              <i class="fa fa-pencil"></i>
              Editar
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Ningun distrito encontrado
  <% end %>
</div>

