<p id="notice"><%= notice %></p>

<div class="col-md-8 mx-auto">
  <div class="row">
    <div class="col-md-8"><h1>Distritos</h1></div>
    <div class="col-md-4 mt-2">
      <%= link_to 'Nuevo Distrito', new_distrito_path, class:'btn btn-success text-white'%>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-2">Distrito</th>
      <th class="col-md-3 text-center">Número de Registros</th>
    </tr>
    </thead>

    <tbody>
    <% @distritos.each do |distrito| %>
      <tr>
        <td class="col-md-2"><%= distrito.nombre_distrito %></td>
        <td class="col-md-3 text-center"><%= distrito.num_registros %></td>
        <td class="col-md-2">
          <div class="row">
            <div class="col-md-2">
              <%= link_to edit_distrito_path(distrito) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to distrito, method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                <i class="fa fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

