<%= form_with(model: vecino, local: true) do |form| %>
  <div class="col-md-12 mx-auto">
    <% if vecino.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(vecino.errors.count, "error") %> prohibited this vecino from being saved:</h2>

        <ul>
          <% vecino.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="field col-md-3">
        <%= form.label :ano, "Año", class:'form-label'%>
        <%= form.text_field :ano, value:@residencia.ano, readonly:true, class:'form-control' %>
      </div>

      <div class="field col-md-3">
        <%= form.label :distrito, class:'form-label'%>
        <%= form.text_field :distrito, value:@residencia.nombre_distrito, readonly:true, class:'form-control' %>
      </div>

      <div class="field col-md-3">
        <%= form.label :calle, class:'form-label'%>
        <%= form.text_field :calle, value:@residencia.nombre_calle.nombre_calle, readonly:true, class:'form-control' %>
      </div>

      <div class="field col-md-3">
        <%= form.label :pagina, class:'form-label'%>
        <%= form.text_field :pagina, value:@residencia.pagina, readonly:true, class:'form-control' %>
      </div>
    </div>

    <%= form.hidden_field :residencia_id, value: @residencia.id %>

    <div class="row">
      <div class="field col-md-3">
        <%= form.label :persona_id, class:'form-label'%>
        <%= form.select :persona_id, options_for_select(@personas, @persona), {}, class:'form-control' %>
      </div>
      <div class="field col-md-1">
        <%= form.label :edad, class:'form-label' %>
        <%= form.text_field :edad, class:'form-control' %>
      </div>
      <div class="field col-md-2">
        <%= form.label :estado, class:'form-label' %>
        <%= form.select :estado, [%w[Soltero S], %w[Casado C], %w[Viudo V]], {}, class:'form-control' %>
      </div>
      <div class="field col-md-2">
        <%= form.label :ocupacion, class:'form-label' %>
        <%= form.text_field :ocupacion, class:'form-control' %>
      </div>
      <div class="field col-md-2">
        <%= form.label :papel, class:'form-label' %>
        <%= form.text_field :papel, class:'form-control' %>
      </div>
      <div class="row col-md-4">
        <% if @residencia.dia_nacimiento || @residencia.mes_nacimiento || @residencia.ano_nacimiento %>
          <div class="col-md-12">Nacimiento</div>
          <% if @residencia.dia_nacimiento %>
            <div class="col-md-3">
              <%= form.number_field :dia_nacimiento, class:'form-control' %>
            </div>
          <% end %>

          <% if @residencia.mes_nacimiento %>
            <div class="col-md-4">
              <%= form.select :mes_nacimiento,  Date::MONTHNAMES[1..12],{:include_blank => true, :default => nil }, class:'form-control' %>
            </div>
          <% end %>

          <% if @residencia.ano_nacimiento %>
            <div class="col-md-3">
              <%= form.text_field :ano_nacimiento, class:'form-control' %>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="row">
      <div class="field col-md-4">
        <%= form.label :pueblo_naturaleza, class:'form-label' %>
        <%= form.text_field :pueblo_naturaleza, class:'form-control' %>
      </div>

      <div class="field col-md-4">
        <%= form.label :provincia_naturaleza, class:'form-label' %>
        <%= form.text_field :provincia_naturaleza, class:'form-control' %>
      </div>

      <div class="field col-md-4">
        <%= form.label :parroquia, class:'form-label' %>
        <%= form.text_field :parroquia, class:'form-control' %>
      </div>

      <div class="field col-md-4">
        <%= form.label :tiempo_residencia, class:'form-label' %>
        <%= form.text_field :tiempo_residencia, class:'form-control' %>
      </div>

      <div class="field col-md-2">
        <%= form.label 'Llegada Estimada', class:'form-label' %>
        <%= form.number_field :ano_llegada_estimado, class:'form-control' %>
      </div>

      <% if @residencia.residencia_habitual %>
        <div class="field col-md-4">
          <%= form.label :residencia_habitual, class:'form-label' %>
          <%= form.text_field :residencia_habitual, class:'form-control' %>
        </div>
      <% end %>
      <div class="field col-md-2">
        <%= form.label 'Nacimiento Estimado', class:'form-label' %>
        <%= form.number_field :ano_nacimiento_estimado, class:'form-control' %>
      </div>
    </div>

    <div class="row">
      <% if @residencia.classificacion %>
        <div class="field col-md-2">
          <%= form.label :classificacion, class:'form-label' %>
          <%= form.text_field :classificacion, class:'form-control' %>
        </div>
      <% end %>

      <% if @residencia.contrib_anual %>
        <div class="field col-md-2">
          <%= form.label :contrib_anual, class:'form-label' %>
          <%= form.text_field :contrib_anual, class:'form-control' %>
        </div>
      <% end %>

      <% if @residencia.sueldo_anual %>
        <div class="field col-md-2">
          <%= form.label :sueldo_anual, class:'form-label' %>
          <%= form.text_field :sueldo_anual, class:'form-control' %>
        </div>
      <% end %>

      <% if @residencia.alquiler %>
        <div class="field col-md-2">
          <%= form.label :alquiler, class:'form-label' %>
          <%= form.text_field :alquiler, class:'form-control' %>
        </div>
      <% end %>

      <% if @residencia.religion %>
        <div class="field col-md-2">
          <%= form.label :religion, class:'form-label' %>
          <%= form.text_field :religion, class:'form-control' %>
        </div>
      <% end %>

      <% if @residencia.defectos %>
        <div class="field col-md-2">
          <%= form.label :defectos, class:'form-label' %>
          <%= form.text_field :defectos, class:'form-control' %>
        </div>
      <% end %>
    </div>

    <div class="row">



    </div>

    <div class="field row col-md-4 my-4">
      <% if @residencia.sabe_leer %>
        <div class="field col-md-6">
          <%= form.label :sabe_leer, class:'form-check-label' %>
          <%= form.check_box :sabe_leer, class:'form-check-input' %>
        </div>
      <% end %>
      <% if @residencia.sabe_escribir %>
        <div class="field col-md-6">
          <%= form.label :sabe_escribir, class:'form-check-label' %>
          <%= form.check_box :sabe_escribir, class:'form-check-input' %>
        </div>
      <% end %>
    </div>

    <div class="row pt-2">
      <div class= "col-md-4">
        <%= form.submit class:"btn btn-success botoes" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Volver', @residencia, class:'btn btn-primary botoes text-white col-md-12' %>
      </div>
    </div>
  </div>
  <% end %>
</div>