<div class="col-md-12 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8"><h1>Vecinos</h1></div>
  </div>

  <% if @vecinos.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Año</th>
          <th>Residencia</th>
          <th>Nº</th>
          <th>Persona</th>
          <th class="text-center" style="font-size: medium">Edad</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Naturaleza</th>
          <th class="text-center">Parroquia</th>
          <th class="text-center">Ocupacion</th>
          <th class="text-center" style="font-size: small">Tiempo residencia</th>
          <th class="text-center" style="font-size: small">Nacimiento estimado</th>
          <th class="text-center" style="font-size: small">Llegada estimada</th>
        </tr>
      </thead>

      <tbody>
        <% @vecinos.each do |vecino| %>
          <tr>
            <td><%= vecino.residencia.ano%></td>
            <td class="col-md-2"><%= vecino.residencia.nombre %></td>
            <td class=""><%= vecino.residencia.numero %></td>
            <td class="col-md-6"><%= link_to "#{vecino.persona.nombre_completo}", vecino.persona %>
            <td class="text-center"><%= vecino.edad %></td>
            <td class="text-center"><%= vecino.estado %></td>
            <td class="col-md-3 text-center">
              <% if vecino.pueblo_naturaleza.present? %>
                <%= vecino.pueblo_naturaleza %>, <%= vecino.provincia_naturaleza %>
              <% end %>
            </td>
            <td class="col-md-1 text-center"><%= vecino.parroquia %></td>
            <td class="col-md-1 text-center"><%= vecino.ocupacion %></td>
            <td class="text-center"><%= vecino.tiempo_residencia %></td>
            <td class="text-center"><%= vecino.ano_nacimiento_estimado %></td>
            <td class="text-center"><%= vecino.ano_llegada_estimado %></td>
            <td class="col-md-3 text-center">
              <%= link_to vecino, class: 'btn btn-success btn-xs text-white' do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Ningun vecino encontrado
  <% end %>
</div>