<p id="notice"><%= notice %></p>

<p>
  <strong>Residencia:</strong>
  <%= @vecino.residencia_id %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @vecino.persona_id %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @vecino.edad %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @vecino.ocupacion %>
</p>

<p>
  <strong>Pueblo naturaleza:</strong>
  <%= @vecino.pueblo_naturaleza %>
</p>

<p>
  <strong>Provincia naturaleza:</strong>
  <%= @vecino.provincia_naturaleza %>
</p>

<p>
  <strong>Parroquia:</strong>
  <%= @vecino.parroquia %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vecino.estado %>
</p>

<p>
  <strong>Tiempo residencia:</strong>
  <%= @vecino.tiempo_residencia %>
</p>

<p>
  <strong>Residencia habitual:</strong>
  <%= @vecino.residencia_habitual %>
</p>

<p>
  <strong>Dia nacimiento:</strong>
  <%= @vecino.dia_nacimiento %>
</p>

<p>
  <strong>Mes nacimiento:</strong>
  <%= @vecino.mes_nacimiento %>
</p>

<p>
  <strong>Ano nacimiento:</strong>
  <%= @vecino.ano_nacimiento %>
</p>

<p>
  <strong>Classificacion:</strong>
  <%= @vecino.classificacion %>
</p>

<p>
  <strong>Contrib anual:</strong>
  <%= @vecino.contrib_anual %>
</p>

<p>
  <strong>Sueldo anual:</strong>
  <%= @vecino.sueldo_anual %>
</p>

<p>
  <strong>Alquiler:</strong>
  <%= @vecino.alquiler %>
</p>

<p>
  <strong>Sabe leer:</strong>
  <%= @vecino.sabe_leer %>
</p>

<p>
  <strong>Sabe escribir:</strong>
  <%= @vecino.sabe_escribir %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @vecino.religion %>
</p>

<p>
  <strong>Defectos:</strong>
  <%= @vecino.defectos %>
</p>

<p>
  <strong>Ano nacimiento estimado:</strong>
  <%= @vecino.ano_nacimiento_estimado %>
</p>

<p>
  <strong>Ano llegada estimado:</strong>
  <%= @vecino.ano_llegada_estimado %>
</p>

<%= link_to 'Edit', edit_vecino_path(@vecino) %> |
<%= link_to 'Back', vecinos_path %>
