<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <h1>Padrones</h1></div>
  <div class="col-md-12 my-4 row">
    <div class="row">
      <div class="col-md-2"><%= link_to 'Nuevo Padron', new_padron_path, class:'btn btn-primary botoes text-white' %></div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Año</th>
        <th class="text-center">Distrito</th>
        <th class="text-center">Registros</th>
      </tr>
    </thead>

    <tbody>
      <% @padrones.each do |padron| %>
        <tr>
          <td class="col-md-2"><%= link_to "#{padron.ano}", padron %></td>
          <td class="col-md-2 text-center"><%= link_to "#{padron.distrito.nombre_distrito}", padron.distrito %></td>
          <td class="col-md-2 text-center"><%= padron.num_registros %></td>
          <td class="col-md-2">
            <%= link_to new_registros_path(padron.id), class: 'btn btn-dark btn-xs text-white' do %>
              <i class="fa fa-plus"></i>
              Agregar Nuevo Registro
            <% end %>
          </td>
          <td class="col-md-2">
            <%= link_to edit_padron_path(padron), class: 'btn btn-primary btn-xs text-white' do %>
              <i class="fa fa-pencil"></i>
              Editar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

