<div class="mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="pb-4 row">
    <div class="col-md-2">Padrón (Año):<h1><%= @padron.ano%></h1></div>
    <div class="col-md-2">Distrito: <h1><%= @padron.distrito.nombre_distrito%></h1></div>
    <div class="col-md-2">Calles: <h1><%= @padron.num_registros%></h1></div>
    <% if @padron.enlace2.present? %>
      <div class="col-md-3 mt-2">
        <%= link_to @padron.enlace, class: 'btn btn-success text-white', target: :_blank do %>
          <i class="fa fa-eye"></i>
          Ver Padrón 1
        <% end %>
        <%= link_to @padron.enlace2, class: 'btn btn-success text-white mt-4', target: :_blank do %>
          <i class="fa fa-eye"></i>
          Ver Padrón 2
        <% end %>
      </div>
    <% else %>
      <div class="col-md-3 mt-2">
        <%= link_to @padron.enlace, class: 'btn btn-success text-white', target: :_blank do %>
          <i class="fa fa-eye"></i>
          Ver Padrón
        <% end %>
      </div>
    <% end %>
    <div class= "col-md-3 mt-2">
      <%= link_to new_registros_path(@padron), class:"btn btn-dark text-white" do %>
        <i class="fa fa-plus"></i>
        Agregar Registro
      <% end %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Calle</th>
      <th>Barrio</th>
      <% if @registros&.first&.parte&.present? %>
        <th class="text-center">Parte</th>
      <% end %>
      <th class="text-center">Inicio</th>
      <th class="text-center">Fin</th>
    </tr>
    </thead>

    <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <% if registro.nombre_calle.principal? %>
          <td class="col-md-2 "><%= link_to "#{registro.nombre_calle.nombre_calle}", registro.nombre_calle.calle %></td>
        <% else %>
          <td class="col-md-2 "><%= link_to "#{registro.nombre_calle.nombre_calle} (#{registro.nombre_calle.calle.principal})", registro.nombre_calle.calle %></td>
        <% end %>
        <td class="col-md-2 "><%= registro.nombre_calle.calle.barrio.nombre_barrio %></td>
        <% if registro.parte.present? %>
          <td class="col-md-1 text-center"><%= registro.parte %></td>
        <% end %>
        <td class="col-md-1 text-center"><%= registro.pagina_inicio %></td>
        <td class="col-md-1 text-center"><%= registro.pagina_fin %></td>

        <% if registro.residencias.present? %>
          <td class="col-md-2">
            <%= link_to registro, class: 'btn btn-warning btn-xs text-black' do %>
              <i class="fa fa-house"></i>
              Residencias
            <% end %>
          </td>
        <% else %>
          <td class="col-md-2">
          </td>
        <% end %>
        <td class="col-md-2">
          <%= link_to new_residencias_path(registro.id), class: 'btn btn-success btn-xs text-white' do %>
            <i class="fa fa-plus"></i>
            Nueva Residencia
          <% end %>
        </td>

        <td class="col-md-2">
          <%= link_to edit_registro_path(registro), class: 'btn btn-primary btn-xs text-white' do %>
            <i class="fa fa-pencil"></i>
            Editar
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row col-md-12">
    <div class= "col-md-3">
      <%= link_to new_registros_path(@padron), class:"btn btn-dark botoes text-white" do %>
        <i class="fa fa-plus"></i>
        Agregar Registro
      <% end %>
    </div>
    <div class=" col-md-3">
      <%= link_to 'Editar', edit_padron_path(@padron), class:'btn btn-secondary botoes text-white col-md-12' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Volver', padrones_path, class:'btn btn-primary botoes text-white col-md-12' %>
    </div>
  </div>
</div>
