<%= form_with(model: nombre_calle, local: true, class:'form-group') do |form| %>
  <% if nombre_calle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nombre_calle.errors.count, "error") %> prohibited this nombre_calle from being saved:</h2>

      <ul>
        <% nombre_calle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @calle.present? %>
  <div class="field">
      <div class="field col-md-6">
        <%= form.label :calle_principal, "Nombre Principal", class:'form-label'%>
        <div class="col-md-8">
          <%= form.text_field :calle_principal, value: @calle.principal, readonly: true, class:'form-control' %>
        </div>
      </div>
      <%= form.hidden_field :calle_id, value: @calle_id %>

  </div>
  <% end %>

  <%= fields_for :calle, @nombre_calle.calle do |calle| %>
    <% if @barrios.present? || @barrio.present? %>
      <div class="field col-md-6">
        <%= calle.label :barrio %>
        <div class="col-md-8">
          <% if @barrios.present? %>
            <%= calle.select :barrio, options_for_select(@barrios), {}, class:'form-select' %>
          <% elsif @barrio.present? %>
            <%= calle.text_field :calle, value: @barrio.nombre_barrio, readonly: true, class:'form-control' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <% unless @calle.present? %>
      <%= form.label :nombre_calle, 'Nombre Principal', class:'col-md-2 col-form-label'%>
      <div class="col-md-4">
        <%= form.text_field :nombre_calle, class:'form-control'%>
      </div>
      <%= form.hidden_field :principal, value: true %>
    <% else %>
      <%= form.label :nombre_calle, 'Nuevo Nombre', class:'col-md-2 col-form-label'%>
      <div class="col-md-4">
        <%= form.text_field :nombre_calle, class:'form-control'%>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="field col-md-2">
      <%= form.label :ano_inicio, 'Año de Inicio', class:'form-label' %>
      <div class="col-md-8">
        <%= form.text_field :ano_inicio, class:'form-control' %>
      </div>
    </div>
    <div class="field col-md-2">
        <%= form.label :ano_fin, 'Año de Fin', class:'form-label' %>
      <div class="col-md-8">
        <%= form.text_field :ano_fin, class:'form-control' %>
      </div>
    </div>
  </div>



  <div class="col-md-6 py-4">
    <div class="row">
      <div class= "col-md-4">
        <%= form.submit "Agregar Nueva Calle", class:"btn btn-success botoes" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Volver', nombre_calles_path, class:'btn btn-primary botoes text-white col-md-12' %>
      </div>
      <% if @nombre_calle.present? && @nombre_calle&.id&.present? %>
        <div class=" col-md-4">
          <%= link_to 'Mostrar', @nombre_calle, class:'btn btn-secondary botoes text-white col-md-12' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>