<%= form_with(model: nombre_calle, local: true, class:'form-group') do |form| %>
  <% if nombre_calle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nombre_calle.errors.count, "error") %> prohibited this nombre_calle from being saved:</h2>

      <ul>
        <% nombre_calle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <% if current_page?(action: 'new') %>
      <%= form.label :nombre_calle, 'Nombre Principal de la Calle', class:'col-md-4 col-form-label'%>
      <%= form.text_field :nombre_calle, class:'form-control', placeholder:'Nombre Principal de la Calle'%>
    <% elsif current_page?(action: 'new_nombre_calle')%>
      <%= form.label :nombre_calle, 'Nuevo nombre de la Calle', class:'col-md-2 col-form-label'%>
      <div class="col-md-6">
        <%= form.text_field :nombre_calle, class:'form-control', placeholder:'Nombre Principal de la Calle'%>
      </div>
    <% end %>
  </div>

  <div class="field row">
    <div class="col-md-3">
      <%= form.label :ano_inicio, 'Año de Inicio', class:'form-label' %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :ano_inicio, class:'form-control' %>
    </div>
  </div>

  <div class="field row">
    <div class="col-md-3 text-end">
      <%= form.label :ano_fin, 'Año de Fin', class:'form-label' %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :ano_fin, class:'form-control' %>
    </div>
  </div>

  <div class="field row">
    <% if current_page?(action: 'new_nombre_calle') %>
      <%= form.label :calle%>
      <%= form.text_field :calle, value: @calle, readonly: true %>
      <%= form.hidden_field :calle, value: @calle_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
