<p id="notice"><%= notice %></p>

<div class="alert alert-warning" role="alert">
  Para agregar un nuevo nombre visite la página de calles!
</div>
<h1>Nombre Calles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre calle</th>
      <th>Ano inicio</th>
      <th>Ano fin</th>
      <th>Calle</th>
    </tr>
  </thead>

  <tbody>
    <% @nombre_calles.each do |nombre_calle| %>
      <tr>
        <td><%= nombre_calle.nombre_calle %></td>
        <td><%= nombre_calle.ano_inicio %></td>
        <td><%= nombre_calle.ano_fin %></td>
        <td><%= nombre_calle.calle_id %></td>
        <td><%= link_to 'Show', nombre_calle %></td>
        <td><%= link_to 'Edit', edit_nombre_calle_path(nombre_calle) %></td>
        <td><%= link_to 'Destroy', nombre_calle, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


