<p id="notice"><%= notice %></p>

<div class="alert alert-warning" role="alert">
  Para agregar un nuevo nombre visite la página de calles!
</div>
<h1>Nombre Calles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre calle</th>
      <th>Año inicio</th>
      <th>Año fin</th>
      <th>Calle</th>
    </tr>
  </thead>

  <tbody>
    <% @nombre_calles.each do |nombre_calle| %>
      <tr>
        <td class="col-md-2"><%= link_to "#{nombre_calle.nombre_calle}", nombre_calle %></td>
        <td class="col-md-1"><%= nombre_calle.ano_inicio %></td>
        <td class="col-md-1"><%= nombre_calle.ano_fin %></td>
        <td class="col-md-2"><%= nombre_calle.calle.principal %></td>
        <td class="col-md-1">
          <%= link_to edit_nombre_calle_path(nombre_calle) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td class="col-md-1">
          <%= link_to nombre_calle, method: :delete, data: { confirm: '¿Estas seguro?' } do %>
            <i class="fa fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


