<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre calle:</strong>
  <%= @nombre_calle.nombre_calle %>
</p>

<p>
  <strong>Ano inicio:</strong>
  <%= @nombre_calle.ano_inicio %>
</p>

<p>
  <strong>Ano fin:</strong>
  <%= @nombre_calle.ano_fin %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @nombre_calle.calle_id %>
</p>

<%= link_to 'Edit', edit_nombre_calle_path(@nombre_calle) %> |
<%= link_to 'Back', nombre_calles_path %>
