<%= form_with(model: residencia, local: true) do |form| %>
  <% if residencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residencia.errors.count, "error") %> prohibited this residencia from being saved:</h2>

      <ul>
        <% residencia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registro_id %>
    <%= form.text_field :registro_id %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :piso %>
    <%= form.text_field :piso %>
  </div>

  <div class="field">
    <%= form.label :dpto %>
    <%= form.text_field :dpto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
