<%= form_with(model: residencia, local: true) do |form| %>
  <div class="col-md-7 mx-auto">
    <% if residencia.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(residencia.errors.count, "error") %> prohibited this residencia from being saved:</h2>

        <ul>
          <% residencia.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="field col-md-6">
        <%= form.label :ano, class:'form-label'%>
        <%= form.text_field :ano, value:@registro.padron.ano, readonly:true, class:'form-control' %>
      </div>

      <div class="field col-md-6">
        <%= form.label :distrito, class:'form-label'%>
        <%= form.text_field :distrito, value:@registro.nombre_distrito, readonly:true, class:'form-control' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :calle, class:'form-label'%>
      <%= form.text_field :calle, value:@registro.nombre_calle.nombre_calle, readonly:true, class:'form-control' %>
    </div>

    <div class="row">
      <div class="field col-md-2">
        <%= form.label :pagina, "Página", class:'form-label'%>
        <div class="col-md-12">
          <%= form.text_field :pagina, class:'form-control' %>
        </div>
      </div>
      <div class="field col-md-10">
        <%= form.label :observaciones, "Observaciones", class:'form-label'%>
        <div class="col-md-12">
          <%= form.text_field :observaciones, class:'form-control' %>
        </div>
      </div>
    </div>


    <%= form.hidden_field :registro_id, value: @registro.id %>

    <div class="row">
      <div class="field col-md-4">
        <%= form.label :numero, "Número", class:'form-label'%>
        <div class="col-md-12">
          <%= form.text_field :numero, class:'form-control' %>
        </div>
      </div>
      <div class="field col-md-4">
        <%= form.label :piso, "Piso", class:'form-label'%>
        <div class="col-md-12">
          <%= form.text_field :piso, class:'form-control' %>
        </div>
      </div>
      <div class="field col-md-4">
        <%= form.label :dpto, "Departamento", class:'form-label'%>
        <div class="col-md-12">
          <%= form.text_field :dpto, class:'form-control' %>
        </div>
      </div>
    </div>

    <h4 class="my-2">Incluir Campos Opcionales</h4>
    <div class="row">
      <div class=" col-md-4">
        <%= form.check_box :dia_nacimiento %>
        <%= form.label :dia_nacimiento, "Dia de Nacimiento", class:'form-label px-2' %>
      </div>
      <div class=" col-md-4">
        <%= form.check_box :mes_nacimiento %>
        <%= form.label :mes_nacimiento, "Mes de Nacimiento", class:'form-label px-2' %>
      </div>
      <div class=" col-md-4">
        <%= form.check_box :ano_nacimiento %>
        <%= form.label :ano_nacimiento, "Año de Nacimiento", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :alquiler %>
        <%= form.label :alquiler, "Alquiler", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :contrib_anual %>
        <%= form.label :contrib_anual, "Contribucíon Anual", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :sueldo_anual %>
        <%= form.label :sueldo_anual, "Sueldo Anual", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :residencia_habitual %>
        <%= form.label :residencia_habitual, "Residencia Habitual", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :religion %>
        <%= form.label :religion, "Religión", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :defectos %>
        <%= form.label :defectos, "Defectos Físicos", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :sabe_leer %>
        <%= form.label :sabe_leer, "Sabe leer", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :sabe_escribir %>
        <%= form.label :sabe_escribir, "Sabe escribir", class:'form-label px-2' %>
      </div>
      <div class="col-md-4">
        <%= form.check_box :classificacion %>
        <%= form.label :classificacion, "Classificacion", class:'form-label px-2' %>
      </div>
    </div>



    <div class="row pt-2">
      <div class= "col-md-4">
        <%= form.submit class:"btn btn-success botoes" %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Volver', @registro.padron, class:'btn btn-primary botoes text-white col-md-12' %>
      </div>
    </div>
  </div>
<% end %>


