<div class="col-md-12 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8"><h1>Residencias</h1></div>
  </div>


  <% if @residencias.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center">Año</th>
        <th class="text-center">Distrito</th>
        <th>Calle</th>
        <th class="text-center">Numero</th>
        <th class="text-center">Piso</th>
        <th class="text-center">Departamento</th>
        <th class="text-center">Familia</th>

      </tr>
      </thead>

      <tbody>
      <% @residencias.each do |residencia| %>
        <tr>
          <td class="text-center"><%= residencia.ano %></td>
          <td class="col-md-1 text-center"><%= residencia.nombre_distrito %></td>
          <td class="col-md-2"><%= link_to "#{residencia.nombre}", residencia.registro.nombre_calle.calle %></td>
          <td class="col-md-1 text-center"><%= residencia.numero %></td>
          <td class="text-center"><%= residencia.piso %></td>
          <td class="text-center"><%= residencia.dpto %></td>
          <td class="col-md-6"><%= residencia.todos_los_vecinos %></td>
          <td class="text-center">
            <%= link_to residencia, class: 'btn btn-success btn-xs text-white' do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to edit_residencia_path(residencia), class: 'btn btn-primary btn-xs text-white' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Ninguna residencia encontrada
  <% end %>
</div>

