<div class="col-md-8 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8"><h1>Residencias</h1></div>
<!--    <div class="col-md-12 my-4 row">-->
      <%#= form_with(url: residencias_path, local: true, method: :get) do |form| %>
<!--        <div class="row">-->
<!--          <div class="col-md-4">-->
            <%# if params[:query].present? %>
              <%#= form.text_field :query, class:"form-control", value: params[:query], placeholder:"Número o nombre..." %>
            <%# else %>
              <%#= form.text_field :query, class:"form-control",  placeholder:"Número o nombre..." %>
            <%# end %>
<!--          </div>-->
<!--          <div class= "col-md-4">-->
            <%#= form.submit "Buscar", class:"btn btn-secondary botoes" %>
<!--          </div>-->
<!--        </div>-->
      <%# end %>
<!--    </div>-->
  </div>


  <% if @residencias.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Calle</th>
        <th class="text-center">Numero</th>
        <th class="text-center">Piso</th>
        <th class="text-center">Departamento</th>
        <th class="text-center">Año</th>
        <th class="text-center">Distrito</th>
      </tr>
      </thead>

      <tbody>
      <% @residencias.each do |residencia| %>
        <tr>
          <td class="col-md-3"><%= residencia.nombre %></td>
          <td class="col-md-1 text-center"><%= residencia.numero %></td>
          <td class="col-md-1 text-center"><%= residencia.piso %></td>
          <td class="col-md-1 text-center"><%= residencia.dpto %></td>
          <td class="col-md-1 text-center"><%= residencia.ano %></td>
          <td class="col-md-1 text-center"><%= residencia.nombre_distrito %></td>
          <td class="col-md-2 text-center">
            <%= link_to residencia, class: 'btn btn-success btn-xs text-white' do %>
              <i class="fa fa-eye"></i>
              Ver
            <% end %>
          </td>
          <td class="col-md-4 text-center">
            <%= link_to edit_residencia_path(residencia), class: 'btn btn-primary btn-xs text-white' do %>
              <i class="fa fa-pencil"></i>
              Editar
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Ninguna residencia encontrada
  <% end %>
</div>

