<div class="col-md-12 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="pb-4 row">
    <div class="col-md-2">Año:<h2><%= @residencia.ano%></h2></div>
    <div class="col-md-2">Distrito:<h2><%= @residencia.nombre_distrito%></h2></div>
    <div class="col-md-4">Calle:<h2><%= @residencia.nombre%></h2></div>
    <div class="col-md-1 text-center">Número: <h2><%= @residencia.numero%></h2></div>
    <% if @residencia.piso.present? %>
      <div class="col-md-1 text-center">Piso: <h2><%= @residencia.piso%></h2></div>
    <% end %>
    <% if @residencia.dpto.present? %>
      <div class="col-md-1 text-center">Departamento: <h2><%= @residencia.dpto%></h2></div>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Papel</th>
      <th class="col-md-5">Nombre</th>
      <th class="text-center">Edad</th>
      <th class="text-center " style="font-size: small">Nacimiento Estimado</th>
      <th class="text-center">Estado</th>
      <th class="col-md-5 text-center">Naturaleza</th>
      <th class="col-md-1 text-center">Parroquia</th>
      <th class="text-center" style="font-size: small">Años de Residencia</th>
      <th class="text-center" style="font-size: small">Llegada Estimada</th>
      <th class="col-md-1 text-center">Ocupacíon</th>
      <% if @residencia.alquiler %>
        <th class="text-center" style="font-size: small">Alquiler(Pesetas</th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @vecinos.each do |vecino| %>
      <tr>
        <td class="col-md-1 text-center"><%= vecino.papel %></td>
        <td class="col-md-1"><%= link_to "#{vecino.nombre_completo}", vecino.persona %></td>
        <td class="text-center"><%= vecino.edad %></td>
        <td class="text-center"><%= vecino.ano_nacimiento_estimado %></td>
        <td class="text-center"><%= vecino.estado %></td>
        <td class="col-md-1 text-center"><%= vecino.pueblo_naturaleza %>, <%= vecino.provincia_naturaleza %></td>
        <td class="col-md-1 text-center"><%= vecino.parroquia %></td>
        <td class="text-center"><%= vecino.tiempo_residencia %></td>
        <td class="text-center"><%= vecino.ano_llegada_estimado %></td>
        <td class="col-md-1 text-center"><%= vecino.ocupacion %></td>
        <% if @residencia.alquiler? %>
          <td class="col-md-1 text-center"><%= vecino.alquiler %></td>
        <% end %>

        <td class="col-md-1 text-center">
          <%= link_to vecino, class: 'btn btn-success btn-xs text-white' do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td class= "col-md-1 text-center">
          <%= link_to edit_vecino_path(vecino), class: 'btn btn-primary btn-xs text-white' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <div class="row col-md-12">
    <div class= "col-md-3">
      <%= link_to "Agregar Vecinos", new_vecinos_path(@residencia), class:"btn btn-success botoes text-white" %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Volver', residencias_path, class:'btn btn-primary botoes text-white col-md-12' %>
    </div>
    <div class=" col-md-3">
      <%= link_to 'Editar', edit_residencia_path(@residencia), class:'btn btn-secondary botoes text-white col-md-12' %>
    </div>
  </div>
</div>