<div class="col-md-12 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8"><h1>Personas</h1></div>
    <div class="col-md-4">
    <%= link_to 'Nueva Persona', new_persona_path, class:'btn btn-primary botoes text-white'%>
    </div>
  </div>

  <% if @personas.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th class="text-center">Nacimiento</th>
          <th class="text-center">Ciudad Nacimiento</th>
          <th class="text-center">Bautismo</th>
          <th class="text-center">Parroquia</th>
          <th class="text-center">Defuncion</th>
          <th class="text-center">Ciudad defuncion</th>

        </tr>
      </thead>

      <tbody>
        <% @personas.each do |persona| %>
          <tr>
            <td class="col-md-2"><%= persona.nombre_completo %></td>
            <td class="col-md-1 text-center"> <%= persona.nacimiento %> </td>
            <td class="col-md-2 text-center"><%= persona.ciudad_nacimiento %>
              <% if persona.confirmacion_nacimiento.present?%>
                <i class="fa fa-check"></i>
              <% end %>
            </td>
            <td class="col-md-1 text-center"><%= persona.bautismo %></td>
            <td class="col-md-2 text-center"><%= persona.parroquia %>
              <% if persona.confirmacion_bautismo.present?%>
                <i class="fa fa-check"></i>
              <% end %>
            </td>
            <td class="col-md-1 text-center"><%= persona.defuncion %></td>
            <td class="col-md-2 text-center"><%= persona.ciudad_defuncion %>
              <% if persona.confirmacion_defuncion.present?%>
                <i class="fa fa-check"></i>
              <% end %>
            </td>

            <td class="col-md-1 text-center">
              <%= link_to edit_persona_path(persona), class: 'btn btn-primary btn-xs text-white' do %>
                <i class="fa fa-pencil"></i>
                Editar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Ninguna persona encontrada
  <% end %>

</div>