<%= form_with(model: barrio, local: true) do |form| %>
  <% if barrio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrio.errors.count, "error") %> prohibited this barrio from being saved:</h2>

      <ul>
        <% barrio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_barrio %>
    <%= form.text_field :nombre_barrio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
