<p id="notice"><%= notice %></p>

<div class="col-md-8 mx-auto">
  <div class="row">
    <div class="col-md-8"><h1>Barrios</h1></div>
    <div class="col-md-12 my-4 row">
      <%= form_with(url: barrios_path, local: true, method: :get) do |form| %>
        <div class="row">
          <div class="col-md-4">
            <% if params[:query].present? %>
              <%= form.text_field :query, class:"form-control", value: params[:query], placeholder:"Nombre del barrio..."  %>
            <% else %>
              <%= form.text_field :query, class:"form-control",  placeholder:"Nombre del barrio..."  %>
            <% end %>
          </div>
          <div class= "col-md-4">
            <%= form.submit "Buscar", class:"btn btn-secondary botoes" %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Nuevo Barrio', new_barrio_path, class:'btn btn-primary botoes text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @barrios.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre del Barrio</th>
        <th class="text-center">Número de Calles</th>
      </tr>
      </thead>

      <tbody>
      <% @barrios.each do |barrio| %>
        <tr>
          <td class="col-md-4"><%= link_to "#{barrio.nombre_barrio}", barrio %></td>
          <td class="col-md-4 text-center"><%= barrio.num_calles %></td>
          <td class="col-md-2 text-center">
            <%= link_to edit_barrio_path(barrio), class: 'btn btn-primary btn-xs text-white' do %>
              <i class="fa fa-pencil"></i>
              Editar
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Ningun barrio encontrado
  <% end %>
  <%= paginate @barrios %>
</div>