<p id="notice"><%= notice %></p>

<h1>Barrios</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre del barrio</th>
    </tr>
  </thead>

  <tbody>
    <% @barrios.each do |barrio| %>
      <tr>
        <td class="col-md-2'"><%= barrio.nombre_barrio %></td>
        <td class="col-md-2'"><%= link_to 'Detalles', barrio %></td>
        <td class="col-md-2'"><%= link_to 'Editar', edit_barrio_path(barrio) %></td>
        <td class="col-md-2'"><%= link_to 'Eliminar', barrio, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barrio', new_barrio_path %>
