<%= form_with(model: calle, local: true) do |form| %>
  <div class="col-md-8 pb-4 mx-auto">
    <% if calle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(calle.errors.count, "error") %> prohibited this calle from being saved:</h2>

        <ul>
          <% calle.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :barrio %>
    <div class="col-md-8">
      <% if @barrios.present? && @barrio.present? %>
        <%= form.select :barrio, options_for_select(@barrios, @barrio), {}, class:'form-select' %>
      <% elsif @barrios.present? %>
        <%= form.select :barrio, options_for_select(@barrios), {}, class:'form-select' %>
      <% elsif @barrio.present? %>
        <%= form.text_field :calle, value: @barrio.nombre_barrio, readonly: true, class:'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 mx-auto">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre calle</th>
        <th class="text-center">Año de Inicio</th>
        <th class="text-center">Año de Fin</th>
        <th class="text-center">Principal</th>
      </tr>
      </thead>

      <tbody>
      <% @calle.nombres.each do |nombre_calle| %>
        <tr>
          <td class="col-md-2 "><%= link_to "#{nombre_calle.nombre_calle}", nombre_calle %></td>
          <td class="col-md-1 text-center"><%= nombre_calle.ano_inicio %></td>
          <td class="col-md-1 text-center"><%= nombre_calle.ano_fin %></td>
          <% if nombre_calle.principal? %>
            <td class="col-md-2 text-center"><%= form.radio_button :principal, nombre_calle.id, checked: true %></td>
          <% else %>
            <td class="col-md-2 text-center"><%= form.radio_button :principal, nombre_calle.id %></td>
          <% end %>
          <td class="col-md-1 text-center">
            <%= link_to edit_nombre_calle_path(nombre_calle) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td class="col-md-1 text-center">
            <%= link_to nombre_calle, method: :delete, data: { confirm: '¿Estas seguro?' } do %>
              <i class="fa fa-trash-can"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-8 py-4 mx-auto">
    <div class="row">
      <div class= "col-md-3">
        <%= form.submit class:"btn btn-success botoes" %>
      </div>
      <div class= "col-md-3">
        <%= link_to "Agregar Nombre", new_nombre_calle_nombre_calles_path(@calle), class:"btn btn-dark botoes text-white" %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Volver', calles_path, class:'btn btn-primary botoes text-white col-md-12' %>
      </div>
      <div class=" col-md-3">
        <%= link_to 'Mostrar', @calle, class:'btn btn-secondary botoes text-white col-md-12' %>
      </div>
    </div>
  </div>
<% end %>
