<%= form_with(model: calle, local: true) do |form| %>
  <% if calle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calle.errors.count, "error") %> prohibited this calle from being saved:</h2>

      <ul>
        <% calle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6">
    <%= form.label :barrio %>
    <div class="col-md-8">
      <% if @barrios.present? %>
        <%= form.select :barrio, options_for_select(@barrios), {}, class:'form-select' %>
      <% elsif @barrio.present? %>
        <%= form.text_field :calle, value: @barrio.nombre_barrio, readonly: true, class:'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= link_to 'Volver', calles_path, class:'btn btn-primary text-white col-md-12' %>
    </div>
    <div class=" col-md-2">
      <%= link_to 'Mostrar', @calle, class:'btn btn-secondary text-white col-md-12' %>
    </div>
  </div>
<% end %>
