
<div class="col-md-12">
  <p id="notice"><%= notice %></p>
  <h1>Calles</h1>
  <div class="col-md-12 my-4 row">
    <%= form_with(url: calles_path, local: true, method: :get) do |form| %>
      <div class="row">
        <div class="col-md-4">
          <% if params[:query].present? %>
            <%= form.text_field :query, class:"form-control",  value: params[:query], placeholder:"Nombre de la calle o barrio..."  %>
          <% else %>
              <%= form.text_field :query, class:"form-control",  placeholder:"Nombre de la calle o barrio..."  %>
          <% end %>
        </div>
        <div class= "col-md-4">
          <%= form.submit "Buscar", class:"btn btn-secondary botoes" %>
        </div>
        <div class="col-md-2"><%= link_to 'Nueva Calle', new_nombre_calle_path, class:'btn btn-success botoes text-white' %></div>
        <div class="col-md-2"><%= link_to 'Nuevo Barrio', new_barrio_path, class:'btn btn-primary botoes text-white' %></div>
      </div>
    <% end %>
  </div>

  <% if @calles.present? %>
    <table  class="table table-striped">
    <thead>
    <tr>
      <th>Barrio</th>
      <th>Nombre Principal</th>
      <th>Outros Nombres</th>
    </tr>
    </thead>

    <tbody>
    <% @calles.each do |calle| %>
      <tr>
        <td class="col-md-2"><%= link_to "#{calle.barrio.nombre_barrio}", calle.barrio%></td>
        <td class="col-md-2"><%= link_to "#{calle.principal}", calle %></td>
        <td class="col-md-4"><%= calle.otros_nombres %></td>
        <td class="col-md-2">
          <%= link_to new_nombre_calle_nombre_calles_path(calle), class: 'btn btn-dark btn-xs text-white' do %>
            <i class="fa fa-plus"></i>
            Agregar Nuevo Nombre
          <% end %>
        </td>
        <td class="col-md-1">
          <%= link_to edit_calle_path(calle), class: 'btn btn-primary btn-xs text-white' do %>
            <i class="fa fa-pencil"></i>
            Editar
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
    Ninguna calle encontrada
  <% end %>

  <%= paginate @calles %>
</div>

