<div class="col-md-9 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="pb-4 row">
    <div class="col-md-6">Nombre Principal:<h2>Calle <%= @calle.principal%></h2></div>
    <div class="col-md-6">Barrio: <h2><%= @calle.barrio.nombre_barrio%></h2></div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Todos los Nombres</th>
      <th>Descripci칩n</th>
      <th class="text-center">A침o de Inicio</th>
      <th class="text-center">A침o de Fin</th>
    </tr>
    </thead>

    <tbody>
    <% @calle.nombres.each do |nombre_calle| %>
      <tr>
        <td class="col-md-2 "><%= link_to "#{nombre_calle.nombre_calle}", nombre_calle %></td>
        <td class="col-md-1 text-center"><%= nombre_calle.descripcion %></td>
        <td class="col-md-1 text-center"><%= nombre_calle.ano_inicio %></td>
        <td class="col-md-1 text-center"><%= nombre_calle.ano_fin %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Registros</th>
      <th>Distrito</th>
      <th>Nombre</th>
      <th class="text-center">Inicio</th>
      <th class="text-center">Fin</th>
    </tr>
    </thead>

    <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td class="col-md-1"><%= link_to "#{registro.padron.ano}", registro.padron %></td>
        <td class="col-md-1"><%= link_to "#{registro.padron.distrito.nombre_distrito}", registro.padron.distrito %></td>
        <td class="col-md-1"><%= link_to "#{registro.nombre_calle.nombre_calle}", registro.nombre_calle %></td>
        <td class="col-md-1 text-center"><%= registro.pagina_inicio %></td>
        <td class="col-md-1 text-center"><%= registro.pagina_fin %></td>
        <td class="col-md-1 text-center">
          <%= link_to registro.padron.enlace, class: 'btn btn-success btn-xs text-white', target: :_blank do %>
            <i class="fa fa-eye"></i>
            Ver Padr칩n
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row col-md-12">
    <div class="col-md-3">
      <%= link_to 'Volver', calles_path, class:'btn btn-primary botoes text-white col-md-12' %>
    </div>
    <div class= "col-md-3">
      <%= link_to "Agregar Nombre", new_nombre_calle_nombre_calles_path(@calle), class:"btn btn-dark botoes text-white" %>
    </div>
    <div class=" col-md-3">
      <%= link_to 'Editar', edit_calle_path(@calle), class:'btn btn-secondary botoes text-white col-md-12' %>
    </div>
  </div>
</div>
