<%= form_with(model: registro, local: true) do |form| %>
  <% if registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
        <% registro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pagina_inicio %>
    <%= form.text_field :pagina_inicio %>
  </div>

  <div class="field">
    <%= form.label :pagina_fin %>
    <%= form.text_field :pagina_fin %>
  </div>

  <div class="field">
    <%= form.label :enlace %>
    <%= form.text_field :enlace %>
  </div>

  <div class="field">
    <%= form.label :nombre_calle_id %>
    <%= form.text_field :nombre_calle_id %>
  </div>

  <div class="field">
    <%= form.label :padron_id %>
    <%= form.text_field :padron_id %>
  </div>

  <div class="field">
    <%= form.label :distrito_id %>
    <%= form.text_field :distrito_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
