<p id="notice"><%= notice %></p>

<h1>Registros</h1>

<table>
  <thead>
    <tr>
      <th>Pagina inicio</th>
      <th>Pagina fin</th>
      <th>Enlace</th>
      <th>Nombre calle</th>
      <th>Padron</th>
      <th>Distrito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.pagina_inicio %></td>
        <td><%= registro.pagina_fin %></td>
        <td><%= registro.enlace %></td>
        <td><%= registro.nombre_calle_id %></td>
        <td><%= registro.padron_id %></td>
        <td><%= registro.distrito_id %></td>
        <td><%= link_to 'Show', registro %></td>
        <td><%= link_to 'Edit', edit_registro_path(registro) %></td>
        <td><%= link_to 'Destroy', registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registro', new_registro_path %>
