<p id="notice"><%= notice %></p>

<h1>Registros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">Padron</th>
      <th class="col-md-1">Distrito</th>
      <th class="col-md-2">Calle</th>
      <th class="col-md-1">Página de Início</th>
      <th class="col-md-1">Página Final</th>
      <th class="col-md-6">Enlace</th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.padron.ano %></td>
        <td><%= registro.distrito.nombre_distrito %></td>
        <td><%=link_to "#{registro.nombre_calle.nombre_calle}", registro.nombre_calle.calle %></td>
        <td><%= registro.pagina_inicio %></td>
        <td><%= registro.pagina_fin %></td>
        <td><%= registro.enlace %></td>
        <td><%= link_to 'Show', registro %></td>
        <td><%= link_to 'Edit', edit_registro_path(registro) %></td>
        <td><%= link_to 'Destroy', registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registro', new_registro_path %>
