<p id="notice"><%= notice %></p>

<p>
  <strong>Pagina inicio:</strong>
  <%= @registro.pagina_inicio %>
</p>

<p>
  <strong>Pagina fin:</strong>
  <%= @registro.pagina_fin %>
</p>

<p>
  <strong>Enlace:</strong>
  <%= @registro.enlace %>
</p>

<p>
  <strong>Nombre calle:</strong>
  <%= @registro.nombre_calle.nombre_calle %>
</p>

<p>
  <strong>Padron:</strong>
  <%= @registro.padron.ano %>
  <%= @registro.padron.distrito.nombre_distrito %>
</p>


<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
