<p id="notice"><%= notice %></p>

<p>
  <strong>Pagina inicio:</strong>
  <%= @registro.pagina_inicio %>
</p>

<p>
  <strong>Pagina fin:</strong>
  <%= @registro.pagina_fin %>
</p>

<p>
  <strong>Enlace:</strong>
  <%= @registro.enlace %>
</p>

<p>
  <strong>Nombre calle:</strong>
  <%= @registro.nombre_calle_id %>
</p>

<p>
  <strong>Padron:</strong>
  <%= @registro.padron_id %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @registro.distrito_id %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
